<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'js\sign.js'%}"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header style="text-align:center;align:center; border: 1px; cellpadding:5px; cellspacing: 5px; background:skyblue; color: white; ">
        <caption><h1>Get Detail Page</h1></caption>
        <a href="{%url 'emphomel'%}">Employee Home</a>&nbsp;
        <br><br>
    </header><br> <br> <br>
    <hr>
    <form name="regform" onsubmit="fun1()" action="{% url 'getresultl'%}" method="get">
    <table align="center" border="1px" cellspacing="5px" cellpadding="5px">
        <tr>
            <td>
                <label>Enter Email Id: </label>
            </td>
            <td>
                <input type="text" name="n1">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-success">
            </td>
            <td>
                <input type="reset" class="btn btn-warning">
            </td>
        </tr>
    </table>
        </form>

</body>
</html>
