<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Students Detail Page</title>
</head>
<body>
    <center>
        <h2 style="background:black;color:white">Show All Students Information</h2>
        <hr>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>Marks</th>
            </tr>
            {% for p in student %}
            <tr>
                <td>p.name</td>
                <td>p.email</td>
                <td>p.password</td>
                <td>p.address</td>
                <td>p.marks</td>
                <td>
                    <a href="/edit/{{p.id}}">Edit</a>
                    <a href="/delete/{{p.id}}">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'home'%}"
    </center>

</body>
</html>
