<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <center>
        <div class="container-fluid" style="background=color:secondary"></div>
        <div class="text-primary bg-worning text-white">Welcome To Django</div>
        <div>
            <input type="submit" value="Submit" class="btn-danger">
        </div>
        <img src="{% static 'image/13.jpg'%}" alt="image" border="2">
    </center>

</body>
</html>
